<h1 class="page-heading">{{ 'Maimai2.RivalPage.Title' | translate }}</h1>
<div class="card rival-id-card mb-3 p-1">
  <div class="d-flex align-items-center">
    <i class="bi bi-person-vcard me-2"></i>
    <div>
      <div class="text-muted small">{{ 'Maimai2.RivalPage.YourRivalID' | translate }}</div>
      <div class="h5 mb-0">{{convertRivalId(String(10000000 + userService.currentUser.defaultCard.id))}}</div>
    </div>
  </div>
</div>
<div class="input-group my-1">
  <input type="text" #rivalInput class="form-control form-control mb-3" [placeholder]="rivalList.length>2?('Maimai2.RivalPage.InputPlaceholder2' | translate):('Maimai2.RivalPage.InputPlaceholder' | translate)">
  <button class="btn btn-primary mb-3"
          type="button"
          [disabled]="loading || addingFriend || rivalList.length>2"
          (click)="addRival(rivalInput.value)">
    {{ 'Maimai2.RivalPage.AddButton' | translate }}
  </button>
</div>
<div *ngIf="!loading && rivalList.length == 0" class="text-center py-3">
  <span class="text-muted">{{ 'Maimai2.RivalPage.NoRivals' | translate }}</span>
</div>
<div *ngFor="let item of rivalList">
  <div class="card mb-2">
    <div class="card-header fw-bold d-flex align-items-center gap-2">
      <svg width="1em" height="1em" fill="currentColor" viewBox="0 0 1024 1024">
        <use href="assets/mai2.svg#icon"/>
      </svg>
      {{item.rivalName | fullWidth}}
    </div>
    <div class="card-body p-2">
      <div class="hstack gap-2">
        <img class="profile-icon" src="{{host}}assets/mai2/icon/UI_Icon_{{getFormattedNumberByDigit(String(item.iconId),6)}}.webp">
        <table class="profile-table">
          <tbody>
          <tr>
            <th>{{ 'Maimai2.RivalPage.AwakenLevel' | translate }}</th>
            <td>{{item.awakenCount}}</td>
          </tr>
          <tr>
            <th>{{ 'Maimai2.RivalPage.Rating' | translate }}</th>
            <td>{{item.playerRating}}</td>
          </tr>
          <tr>
            <th>{{ 'Maimai2.RivalPage.PlayCount' | translate }}</th>
            <td>{{item.playCount}}</td>
          </tr>
          <tr>
            <th>{{ 'Maimai2.RivalPage.RivalId' | translate }}</th>
            <td>{{item.rivalId}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <button class="btn btn-danger btn-sm"
              (click)="removeRival(item.rivalId)">
        {{ 'Maimai2.RivalPage.RemoveButton' | translate }}
      </button>
      <div class="fw-bold small">
        {{ 'Maimai2.RivalPage.LastPlay' | translate }}{{(item.lastPlayDate | toDate).toLocaleString()}}
      </div>
    </div>
  </div>
</div>
