<div class="card-rotator w-100">
  @if (item?.cardId === 0) {
    <div class="card-container user-select-none grayscale"
      [style.background-image]="'url(' + host + 'assets/ongeki/card-bg/UI_Card_BG_N_00.webp)'">
      <div class="w-100 h-100 card-none"
        [style.background-image]="'url(' + host + 'assets/ongeki/card-chara-p/UI_Card_Chara_' + '100001' + '_P.webp)'">
      </div>
    </div>
  }
  @if (item?.cardId !== 0 && !item?.cardInfo) {
    <div class="card-container user-select-none grayscale"
      [style.background-image]="getCardBackground(item, showHolo &&  item.digitalStock > 0)">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center"></div>
    </div>
  }
  @if (item?.cardInfo) {
    <div class="card-container user-select-none"
      [style.background-image]="getCardBackground(item, showHolo &&  item.digitalStock > 0)">
      @if (showElements && (item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')) {
        <div
          class="card-frame"
        [style.background-image]="getFrame(item)"></div>
      }
      <div class="card-chara" [style.background-image]="getChara(item)"></div>
      @if (showHolo && item.digitalStock > 0) {
        <div [style]="holoSheetStyle1" class="position-absolute w-100 h-100">
          <div class="card-holo-bg" [style.-webkit-mask-image]="getHoloBGMask(item, showElements)"></div>
          <div class="card-holo" [style.-webkit-mask-image]="getHoloBGMask(item, showElements)"></div>
        </div>
      }
      @if (showElements && !(showHolo && item.digitalStock > 0) && !(item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')) {
        <div
        class="card-frame" [style.background-image]="getFrame(item)"></div>
      }
      @if (showHolo && item.digitalStock > 0) {
        <div [style]="holoSheetStyle2"
          class="position-absolute w-100 h-100">
          @if (!(item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')) {
            <div class="card-frame"
            [style.background-image]="getHoloFrame(item)"></div>
          }
          <div class="card-holo-frame-bg"
          [style.-webkit-mask-image]="getHoloFrameMask(item, showElements)"></div>
          <div class="card-holo" [style.-webkit-mask-image]="getHoloFrameMask(item, showElements)"></div>
        </div>
      }
      @if (showElements) {
        <div class="position-absolute w-100 h-100">
          <div>
            @switch (item.cardInfo.attribute) {
              @case ('Fire') {
                <img class="card-attribute"
                  src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_00_Red.webp">
                }
                @case ('Aqua') {
                  <img class="card-attribute"
                    src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_01_Bule.webp">
                  }
                  @case ('Leaf') {
                    <img class="card-attribute"
                      src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_02_Green.webp">
                    }
                  }
                </div>
                <div>
                  @switch (item.cardInfo.rarity) {
                    @case ('N') {
                      <img class="card-rare"
                        src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_00_N.webp">
                      }
                      @case ('R') {
                        <img class="card-rare"
                          src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_01_R.webp">
                        }
                        @case ('SR') {
                          <img class="card-rare"
                            src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_02_SR.webp">
                          }
                          @case ('SSR') {
                            <img class="card-rare"
                              src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_03_SSR.webp">
                            }
                            @case ('SRPlus') {
                              <img class="card-rare"
                                src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_05_SRPlus.webp">
                              }
                            }
                          </div>
                          <div>
                            @switch (item.cardInfo.gakunen) {
                              @case ('高校1年生') {
                                <img class="card-gakunen"
                                  src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00001.webp">
                                }
                                @case ('高校2年生') {
                                  <img class="card-gakunen"
                                    src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00002.webp">
                                  }
                                  @case ('高校3年生') {
                                    <img class="card-gakunen"
                                      src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00003.webp">
                                    }
                                    @case ('中学1年生') {
                                      <img class="card-gakunen"
                                        src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00004.webp">
                                      }
                                      @case ('中学2年生') {
                                        <img class="card-gakunen"
                                          src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00005.webp">
                                        }
                                        @case ('中学3年生') {
                                          <img class="card-gakunen"
                                            src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00006.webp">
                                          }
                                        }
                                      </div>
                                      @if ((item.kaikaDate != '0000-00-00 00:00:00.0')) {
                                        <img class="card-kaika-state"
                                          draggable="false"
                                          src="{{host}}assets/ongeki/gameUi/{{item.choKaikaDate == '0000-00-00 00:00:00.0'?'UI_CMN_PrintMark_01_kaika':'UI_CMN_PrintMark_02_tyoukaika'}}.webp">
                                        }
                                        @if (item.skillInfo) {
                                          <div>
                                            <div>
                                              @switch (item.skillInfo.category) {
                                                @case ('Attack') {
                                                  <img class="card-skill-bg" draggable="false"
                                                    src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_00_Attack.webp">
                                                  }
                                                  @case ('DangerAttack') {
                                                    <img class="card-skill-bg" draggable="false"
                                                      src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_00_Attack_Danger.webp">
                                                    }
                                                    @case ('Support') {
                                                      <img class="card-skill-bg" draggable="false"
                                                        src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_01_Assist.webp">
                                                      }
                                                      @case ('DangerSupport') {
                                                        <img class="card-skill-bg" draggable="false"
                                                          src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_01_Assist_Danger.webp">
                                                        }
                                                        @case ('Guard') {
                                                          <img class="card-skill-bg" draggable="false"
                                                            src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_02_Guard.webp">
                                                          }
                                                          @case ('DangerGuard') {
                                                            <img class="card-skill-bg" draggable="false"
                                                              src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_02_Guard_Danger.webp">
                                                            }
                                                            @case ('Boost') {
                                                              <img class="card-skill-bg" draggable="false"
                                                                src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_03_Boost.webp">
                                                              }
                                                              @case ('DangerBoost') {
                                                                <img class="card-skill-bg" draggable="false"
                                                                  src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_03_Boost_Danger.webp">
                                                                }
                                                              }
                                                            </div>
                                                          </div>
                                                        }
                                                        @if (item.maxLevel > 0) {
                                                          <div class="card-star-container">
                                                            @for (_ of getArrayFromNumber(getStarCount(item)); track _) {
                                                              <img class="card-star"
                                                                src="{{host}}assets/ongeki/gameUi/UI_Card_star_00.webp">
                                                              }
                                                              @for (_ of getArrayFromNumber((item.cardInfo.rarity == 'N'?11:5) - getStarCount(item)); track _) {
                                                                <img
                                                                  class="card-star" src="{{host}}assets/ongeki/gameUi/UI_Card_star_01.webp">
                                                                }
                                                              </div>
                                                            }
                                                            <!--                <div class="card-qr-code-container">-->
                                                            <!--                  <img class="card-qr-code" src="{{host}}assets/ongeki/gameUi/UI_Card_qr_dummy_00.webp">-->
                                                          <!--                </div>-->
                                                          <img class="card-max-atk-title" draggable="false"
                                                            src="{{host}}assets/ongeki/gameUi/UI_Card_max_00.webp">
                                                            @if (calculateAtk(item.maxLevel, convertToNumberArray(item.cardInfo?.levelParam), item.choKaikaDate != '0000-00-00 00:00:00.0'); as maxAtk) {
                                                              <div
                                                                class="card-max-atk-value-container">
                                                                @if (maxAtk>=100) {
                                                                  <img
                                                                    class="card-max-atk-value-number"
                                                                    src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{Math.floor(maxAtk/100)}}.webp">
                                                                  }
                                                                  @if (maxAtk>=10) {
                                                                    <img
                                                                      class="card-max-atk-value-number"
                                                                      src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{Math.floor((maxAtk%100)/10)}}.webp">
                                                                    }
                                                                    <img class="card-max-atk-value-number"
                                                                      src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{maxAtk%10}}.webp">
                                                                    </div>
                                                                  }
                                                                  <div class="card-name">
                                                                    <div class="card-name-shadow">
                                                                      <div class="card-name-nick">
                                                                        {{ item.cardInfo.nickName }}
                                                                      </div>
                                                                      <div class="card-name-chara">
                                                                        {{ getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName) }}
                                                                      </div>
                                                                    </div>
                                                                    <div class="card-name-text">
                                                                      <div class="card-name-nick card-text-shadow">
                                                                        {{ item.cardInfo.nickName }}
                                                                      </div>
                                                                      <div class="card-name-chara card-text-shadow">
                                                                        {{ getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName) }}
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div class="card-info-footer">
                                                                    <span>
                                                                      {{ item.cardId }}
                                                                    </span>
                                                                    @if (item.cardInfo) {
                                                                      <span>
                                                                        {{ item.cardInfo.cardNumber }}
                                                                      </span>
                                                                    }
                                                                  </div>
                                                                </div>
                                                              }
                                                              <div class="card-highlight"></div>
                                                            </div>
                                                          }
                                                          <div class="card-back" [style.background-image]="getCardBack()"></div>
                                                        </div>
