# dependencies
/node_modules

# build output
/dist
/dist.tar.gz
*.local

# logs
npm-debug.log*
yarn-error.log*

# editor/IDE
.vscode/
.idea/
*.launch

# misc
/coverage
/test-results
/playwright-report
/.artifacts

# system
.DS_Store
Thumbs.db

# 本地开发临时目录
/.vs
.omc/
