.freedom-pass {
  border: 1px solid #3d91cd;
  color: transparent;
  background: #e625bf linear-gradient(to right, #6db1f6, #11c1ea);
  -webkit-background-clip: text;
  background-clip: text;
}

.gold-pass {
  border: 1px solid #995014;
  color: transparent;
  background: #d1aa79 linear-gradient(45deg, #f4b400, #d1aa79, #b77a3b);
  -webkit-background-clip: text;
  background-clip: text;
}

.normal-pass {
  background: #451d0c;
  border: 1px solid #374908;
  color: white;
}

.silver-pass {
  background: #09343c;
  border: 1px solid #3a4165;
  color: #6394d5;
}

.expired-pass {
  background: #686363;
  border: 1px solid #c6b1b1;
  color: white;
}

.color-ras {
  background: #686363;
}


/*.pass-text {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  b {*/
/*    padding: 0 3px;*/
/*  }*/
/*}*/

.card {
  position: relative; /* 使子元素可以绝对定位 */
}

.overlay-image {
  position: absolute; /* 用绝对定位确保图像重叠 */
  top: 0; /* 根据需求设置偏移 */
  left: 0; /* 根据需求设置偏移 */
  width: 100%; /* 确保图像填满父容器 */
  height: auto; /* 高度自适应 */
  opacity: 1; /* 如果需要，可以调整此值以实现透明效果 */
  z-index: 1; /* 设置图层顺序 */
}

/* 框架图像可能需要更高的 z-index */
.frame-image {
  z-index: 2; /* 若要确保框架在最上层 */
}

.horizon-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.vertical-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th, .user-table td {
  padding: 8px;
  text-align: left;
}

.pagination {
  margin-top: 10px;
}

.comment-text {
  white-space: pre-wrap;       /* 保留换行符，并允许换行 */
  word-break: break-word;      /* 遇到长单词或连续字符自动换行 */
  overflow-wrap: break-word;   /* 兼容旧浏览器 */
  max-height: 100px;           /* 可选：限制高度 */
  overflow: auto;              /* 可选：超出出现滚动条 */
}

.festa-progress {
  display: flex;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  overflow: hidden;
}

.festa-progress-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* 白字 */
  font-size: 0.85rem;
  font-weight: bold;
}