<h1 class="page-heading">{{ "ChuniV2.RatingPage.Title" | translate }}</h1>

@if (playerRating) {
  <div class="mb-3 d-flex align-items-center">
    <h2 class="mb-0">{{ "ChuniV2.RatingPage.Overview" | translate }}</h2>
  </div>
  <div class="mb-4">
    <div class="card user-select-none mb-2">
      <ul class="list-group list-group-flush my-1">
        <li class="list-group-item">
          <div>{{ "ChuniV2.RatingPage.PlayerRating" | translate }} {{"Common.Colon" | translate}} {{playerRating | toRating | number: '1.2-2'}}</div>
        </li>
        <li class="list-group-item">
          <div>{{ "ChuniV2.RatingPage.HighestRating" | translate }} {{"Common.Colon" | translate}} {{highestRating | toRating | number: '1.2-2'}}</div>
        </li>
      </ul>
    </div>
    @if (playerRating != calcRating) {
      <div class="alert alert-warning" role="alert">
        {{ "ChuniV2.RatingPage.DataVersionWarning" | translate }}
      </div>
    }
  </div>
}


<ng-template #itemPlaceholder>
  <div class="col-12 col-md-6 col-xxl-4">
    <div class="card rating-card">
      <div class="hstack">
        <img class="jacket rounded-start placeholder" alt="">
        <div class="card-body overflow-hidden user-select-none py-0 px-2">
          <div class="fw-bold m-0 mb-1 placeholder"><span class="placeholder">#0 Music Title</span></div>
          <div class="text-truncate mb-1"><span class="placeholder">1010000</span></div>
          <div class="text-truncate small rating-score">
            <span class="score-value placeholder">Master 10.0 ➛ 12.15</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

@if (loadingRating) {
  <div class="placeholder-wave">
    <div class="mb-3 d-flex align-items-center">
      <h2 class="mb-0"><span class="placeholder">Best</span></h2>
    </div>
    <div class="row mb-4 g-2">
      <ng-container *ngTemplateOutlet="itemPlaceholder"></ng-container>
    </div>
  </div>
}

@if (loadingRecent) {
  <div class="placeholder-wave">
    <div class="mb-3 d-flex align-items-center">
      <h2 class="mb-0"><span class="placeholder">Recent</span></h2>
    </div>
    <div class="row mb-4 g-2">
      <ng-container *ngTemplateOutlet="itemPlaceholder"></ng-container>
    </div>
  </div>
}

@if (!loadingRating && newRating) {
  <div class="mb-3 d-flex align-items-center">
    <h2 class="mb-0">{{ "ChuniV2.RatingPage.New" | translate }}</h2>
    <span class="badge bg-primary rounded-pill ms-2">{{ newTotal / 20 | toRating | number: '1.2-2'}}</span>
  </div>
  <div class="row mb-4 g-2">
    @for (item of newRating; track item; let i = $index) {
      <ng-container *ngTemplateOutlet="record; context: {item: item, index: i}"></ng-container>
    }
  </div>
}

@if (!loadingRating && topRating) {
  <div class="mb-3 d-flex align-items-center">
    <h2 class="mb-0">{{ "ChuniV2.RatingPage.Best" | translate }}</h2>
    <span class="badge bg-primary rounded-pill ms-2">{{ topTotal / 30 | toRating | number: '1.2-2'}}</span>
  </div>
  <div class="row mb-4 g-2">
    @for (item of topRating; track item; let i = $index) {
      <ng-container *ngTemplateOutlet="record; context: {item: item, index: i}"></ng-container>
    }
  </div>
}

@if (!loadingRecent && recentRating) {
  <div class="mb-3 d-flex align-items-center">
    <h2 class="mb-0">{{ "ChuniV2.RatingPage.Recent" | translate }}</h2>
    <span class="badge bg-primary rounded-pill ms-2">{{ recentTotal / 10 | toRating | number: '1.2-2'}}</span>
  </div>
  <div class="row mb-4 g-2">
    @for (item of recentRating; track item; let i = $index) {
      <ng-container *ngTemplateOutlet="record; context: {item: item, index: i}"></ng-container>
    }
  </div>
}

<ng-template #record let-index="index" let-item="item">
  <div class="col-12 col-md-6 col-xxl-4">
    <div class="card rating-card card-btn" (click)="showDetail(item.musicId)">
      <div class="hstack">
        <img class="jacket rounded-start"
          src="{{host}}assets/chuni/jacket/CHU_UI_Jacket_{{item.musicId|formatNumber:4}}.webp" alt=""
          >
          @if (item.musicId != 0) {
            <div class="card-body overflow-hidden py-0 px-2">
              <div class="text-truncate fw-bold m-0"><span>#{{ index + 1 }}</span> {{ item.musicName }}</div>
              <div class="text-truncate">{{ item.score }}</div>
              <div class="text-truncate small rating-score">
                @switch (item.level) {
                  @case (0) {
                    <span class="difficulty-basic badge rounded-pill">
                      Basic {{ (item.ratingBase | toRating | number: '1.1-1') ?? 'None' }}
                    </span>
                  }
                  @case (1) {
                    <span class="difficulty-advanced badge rounded-pill">
                      Advanced {{ (item.ratingBase | toRating | number: '1.1-1') ?? 'None' }}
                    </span>
                  }
                  @case (2) {
                    <span class="difficulty-expert badge rounded-pill">
                      Expert {{ (item.ratingBase | toRating | number: '1.1-1') ?? 'None' }}
                    </span>
                  }
                  @case (3) {
                    <span class="difficulty-master badge rounded-pill">
                      Master {{ (item.ratingBase | toRating | number: '1.1-1') ?? 'None' }}
                    </span>
                  }
                  @case (4) {
                    <span class="difficulty-ultima badge rounded-pill text-danger border border-danger">
                      Ultima {{ (item.ratingBase | toRating | number: '1.1-1') ?? 'None' }}
                    </span>
                  }
                }
                <b>➛</b>
                @switch (item.level) {
                  @case (0) {
                    <span
                    class="score-value">{{ item.rating | toRating | number: '1.2-2'}}</span>
                  }
                  @case (1) {
                    <span
                    class="score-value">{{ item.rating | toRating | number: '1.2-2'}}</span>
                  }
                  @case (2) {
                    <span
                    class="score-value">{{ item.rating | toRating | number: '1.2-2'}}</span>
                  }
                  @case (3) {
                    <span
                    class="score-value">{{ item.rating | toRating | number: '1.2-2'}}</span>
                  }
                  @case (4) {
                    <span
                    class="score-value">{{ item.rating | toRating | number: '1.2-2'}}</span>
                  }
                }
              </div>
            </div>
          }
          @if (item.musicId == 0) {
            <div class="card-body overflow-hidden py-0 px-4 text-truncate">
              No Record
            </div>
          }
        </div>
      </div>
    </div>
  </ng-template>
