<h1 class="page-heading">{{'ChuniV2.ProfilePage.Title' | translate}}</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">{{'ChuniV2.ProfilePage.Overview' | translate}}</h5>
    @if (profile) {
      <div class="card-subtitle mb-3">{{profile.userName}}</div>
    }
    @if (profile) {
      <table class="table table-striped table-borderless">
        <tbody>
          <tr>
            <th>{{'ChuniV2.ProfilePage.Level' | translate}}</th>
            <td>{{profile.reincarnationNum * 100 + profile.level}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.Rating' | translate}}</th>
            <td>{{profile.playerRating / 100}} ({{'ChuniV2.ProfilePage.Max' | translate}} {{profile.highestRating / 100}})</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.OverPower' | translate}}</th>
            <td>{{profile.overPowerPoint / 100}} ({{profile.overPowerRate / 100}}%)</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.PlayCount' | translate}}</th>
            <td>{{profile.playCount}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.LastPlay' | translate}}</th>
            <td>{{profile.lastPlayDate}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.CurrentPoints' | translate}}</th>
            <td>{{profile.point}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.AcquiredPoints' | translate}}</th>
            <td>{{profile.totalPoint}}</td>
          </tr>
        </tbody>
      </table>
    }
    <p>{{'ChuniV2.ProfilePage.MoreInfo' | translate}}</p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title mb-3">{{'ChuniV2.ProfilePage.ScoreStatistics' | translate}}</h5>
    @if (profile) {
      <table class="table table-striped table-borderless">
        <tbody>
          <tr>
            <th>{{'ChuniV2.ProfilePage.TotalHighScore' | translate}}</th>
            <td>{{profile.totalHiScore}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.TotalBasicHighScore' | translate}}</th>
            <td>{{profile.totalBasicHighScore}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.TotalAdvancedHighScore' | translate}}</th>
            <td>{{profile.totalAdvancedHighScore}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.TotalExpertHighScore' | translate}}</th>
            <td>{{profile.totalExpertHighScore}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.TotalMasterHighScore' | translate}}</th>
            <td>{{profile.totalMasterHighScore}}</td>
          </tr>
          <tr>
            <th>{{'ChuniV2.ProfilePage.TotalUltimaHighScore' | translate}}</th>
            <td>{{profile.totalUltimaHighScore}}</td>
          </tr>
        </tbody>
      </table>
    }
  </div>
</div>
