<h1 class="page-heading">{{'NetCodeBindPage.Title' | translate}}</h1>

<div class="hstack alert alert-warning" role="alert">
  <ng-icon class="me-2" name="bootstrap-exclamation-triangle-fill"></ng-icon>
  <div>{{'NetCodeBindPage.Description' | translate}}</div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">{{'NetCodeBindPage.InputTitle' | translate}}</h5>
    <form [formGroup]="netCodeForm" (ngSubmit)="onClick()">
      <input type="text" inputmode="numeric" autocomplete="off" maxlength="20" class="form-control mb-3" id="netCode" formControlName="netCode">
      <button type="submit" class="btn btn-primary w-100" [disabled]="!loaded || netCodeForm.invalid">
        @if (!loaded) {
          <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
        }
        {{'NetCodeBindPage.Bind' | translate}}
      </button>
    </form>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <ol>
      <li>{{'NetCodeBindPage.Instruction1' | translate}}</li>
      <li>{{'NetCodeBindPage.Instruction2' | translate}}</li>
      <li>{{'NetCodeBindPage.Instruction3' | translate}}</li>
    </ol>
  </div>
</div>

<div class="text-center mt-3">
  <a class="btn btn-link" routerLink="/dashboard">{{'NetCodeBindPage.ContinueWithoutBinding' | translate}}</a>
</div>
