<h1 class="page-heading">设定</h1>


<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    用户名
  </div>
  <div class="card-body">
    <h5 class="card-title">这是你的游戏内用户名:</h5>
    <form [formGroup]="userNameForm" (ngSubmit)="onSubmit()">
   <!-- <h2 class="card-text text-center">{{profile.userName}}</h2> -->
    <input type="text" class="form-control mb-3" id="username" formControlName="username">
    </form>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted small align-text-bottom">*注意，更改名称使用全角字符</div>
      <a (click)="userName()" class="btn btn-primary">更改名称</a>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    用户头像
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-text">
      You can upload image to server as your user portrait(a.k.a avatar) in game, but there are some limits:
      <ul>
        <li>(Cropped) Image file size &lt; <b>{{divMaxLength * 10}} kb</b>.</li>
        <li>Square image.</li>
      </ul>
      Compress once before loading image into web if you want to crop big picture.
    </h5>
    <div class="d-flex justify-content-between align-items-end">
      <div></div>
      <a (click)="openUploadUserPortraitDialog()" class="btn btn-primary">上传头像</a>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    兑换码
  </div>
  <div class="card-body">
    <h5 class="card-title">使用兑换码来激活礼品:</h5>
    <form [formGroup]="redeemCodeForm" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control mb-3" id="redeemCode" formControlName="redeemCode">
    </form>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted small align-text-bottom">*请不要使用他人的兑换码</div>
      <a (click)="activateRedeemCode()" class="btn btn-primary">兑换</a>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    绑定的卡号
  </div>
  <div class="card-body">
    <h5 class="card-title">绑定一张Aime卡到现在的账号，可以使用该Aime卡访问登录这个游戏档案</h5>
    <form [formGroup]="bindCardForm" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control mb-3" id="accessCode" formControlName="accessCode">
    </form>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted small align-text-bottom">*请输入20位数字<br>*解除绑定后，你的Aime卡将会回复到原先的档案。</div>
      <a (click)="lcdxBindAccessCode()" class="btn btn-primary">{{currentAccessCode==""?"尝试绑定":"解除绑定"}}</a>
    </div>
  </div>
</div>

