.cannot-drag {
  -webkit-user-drag: none;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.logo {
  position: absolute;
  z-index: 99;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  height: 100%;
}

.logo-bg {
  background: url('src/assets/laochan.svg') no-repeat center center / 100%;
}

.logo-bottom {
  z-index: 10 !important;
}

.logo-img_fault {
  background-blend-mode: screen;
}

.logo-container .logo-box {
  position: relative;
  width: 200px;
  height: 200px;
}

.logo-container .ongekiHead {
  width: 92%;
  position: absolute;
  /*top: 4.5%;*/
  top: 3.5%;
  left: -24%;
  z-index: 99;
}

.logo-img_fault::after,.logo-img_fault::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mask: url('src/assets/laochan.svg') center/contain;
}

.logo-img_fault::after {
  transform: translateX(-2%);
  background-color: #f00;
}

.logo-img_fault::before{
  transform: translateX(2%);
  background-color: #00f;
}

.game-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.tiny-text{
  font-size: 0.2rem;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.footer-container {
  position: fixed; /* 设置为固定定位 */
  bottom: 0; /* 向下贴边 */
  right: 0; /* 向右贴边 */
  width: 100%; /* 宽度设为100% */
}

.footer {
  position: relative; /* 可选的，取决于你的需求 */
  padding: 20px; /* 可根据需要调整内边距 */
}

.footer a {
  position: absolute; /* 设置为绝对定位 */
  bottom: 0; /* 距离底部为 0 */
  right: 0; /* 距离右边为 0 */
  margin: 10px; /* 可选的，给链接添加一点外边距 */
}
